{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}Carlos Tenorio BLOG{% endblock %}
{% block body %}

  <h1 class="blog-title text-center col-xs-12">
    {% trans "Tutorials and posts about" %}&nbsp;<span class="blog-title-django">Django</span>,&nbsp;
    <br><span class="blog-title-angular">Angular&nbsp;</span>{% trans "and" %}&nbsp;Web Development
  </h1>

  <div class="col-md-12 col-lg-8">
    {# Posts List #}
    {% for post in posts %}
      <div id="post-{{post.pk}}" class="col-lg-11 post-container">
        <div class="post-content">
          {# Title #}
          {% if request.LANGUAGE_CODE == 'es' %}
            <h1 class="post-title text-center">{{ post.title_es }}</h1>
    			{% elif request.LANGUAGE_CODE == 'en' %}
            <h1 class="post-title text-center">{{ post.title_en }}</h1>
          {% endif %}

          {# Image #}
          {% if post.image %}
            <img class="img-fluid img-post col-xs-12" src="{{ post.image.url }}" />
          {% endif %}

          {# Date #}
          <div class="col-xs-12 post-info">
            <i class="fa fa-calendar">&nbsp;{{ post.published_date }}</i>
          </div>

          {# Preview text #}
          <div>
            {% if request.LANGUAGE_CODE == 'es' %}
              <p>{{ post.preview_es|safe|linebreaksbr }}</p>
  		      {% elif request.LANGUAGE_CODE == 'en' %}
              <p>{{ post.preview_en|safe|linebreaksbr }}</p>
            {% endif %}
          </div>
        </div>
        <a class="post-read-more" href="{% url 'post_detail' pk=post.pk %}">{% trans "Read more" %}</a>
      </div>
    {% endfor %}
  </div>
  {# About me #}
  {% include "components/info_profile.html"%}

  <script type="text/javascript">
    $(document).ready(function() {
        $(".post-container").on("click", function () {
            var pk = $(this).attr('id').split('-')[1]; // gives the post pk
            window.location.href = window.location.href + 'post/' + pk;
        });
    });
  </script>

{% endblock %}
