.blog-title {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
}

.blog-title-django {
  color: @brand-django;
}

.blog-title-angular {
  color: @brand-angular;
}

.img-post {
  margin-top: 25px;
  height: 300px;
}

.post-container {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(149,153,153,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  margin-bottom: 50px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(149,153,153,0.2);
    cursor: pointer;
  }
}

.post-content {
  max-height: 700px;
  margin-bottom: 15px;
}

.post-title {
  color: @brand-primary;
  font-weight: 600;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-info {
  margin-top: 15px;
  margin-bottom: 15px;
}
