<footer class="footer">

  <div class="footer-links">
    <ul>
      <li><h3>Carlos Tenorio Blog</h3></li>
      <li><a>Home</a></li>
      <li><a>Ayuda</a></li>
    </ul>
    <ul>
      <li><h3>Sobre nosotros</h3></li>
      <li><a>Contacto</a></li>
    </ul>
    <ul>
      <li><h3>Sígueme</h3></li>
      <li><a href="https://www.instagram.com/tinta_y_piel_comparador/" target="_blank"><i class="fa fa-twitter"></i> Instagram</a></li>
      <li><a href="https://www.facebook.com/Tinta-y-Piel-339326989797545/" target="_blank"><i class="fa fa-giyhub"></i> Facebook</a></li>
    </ul>
  </div>
  <hr>

</footer>
