{% load static %}
{% load i18n %}

<div class="col-xs-12 about-me-container-h">
  <img class="img-responsive mx-auto d-block col-xs-2" src="{% static "img/profile.jpg" %}" alt="">
  <div class="col-xs-10">
    <h4 class="by-name">
      <strong>{% trans "By" %} Carlos Tenorio Pérez</strong>
    </h4>
    <h4>
      {% blocktrans %}
      My Name is Carlos Tenorio Pérez. I'm software engeniering in Palma de Mallorca.
      I m working on <a href="https://www.babtec.de/en.html">Babtec.</a> and I write
      about Django, Angular and web development.
      {% endblocktrans %}
    </h4>
    <div class="contact-tab">
      <a href="https://github.com/CarlosTenorio" target="_blank" title="GitHub" class="icon-profile">
        <i class="fa fa-2x fa-github-alt"></i>
      </a>
      <a href="https://twitter.com/ctenoriop" target="_blank" title="Twitter" class="icon-profile">
        <i class="fa fa-2x fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/carlos-tenorio-p%C3%A9rez-806978112/" target="_blank" title="Linkedin">
        <i class="fa fa-2x fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
