{% load static %}
{% load i18n %}

<div class="col-md-12 col-lg-4 about-me-container">
  <h1 class="post-title text-center">{% trans "About me" %}</h1>
  <img class="img-responsive mx-auto d-block about-me-img" src="{% static "img/profile.jpg" %}" alt="">
  <p>
      {% blocktrans %}
      My Name is Carlos Tenorio Pérez. I'm software engeniering in Palma de Mallorca.
      I m working on <a href="https://www.babtec.de/en.html">Babtec.</a> and I write
      about Django, Angular and web development.
      {% endblocktrans %}
  </p>
</div>
